In [83]:
import pandas as pd
import numpy as np

Importing CSVs previously exported from MailChimp.

In [2]:
mc_cleaned = pd.read_csv("cleaned_members_export_50ce47c55d.csv")
mc_subscribed = pd.read_csv("subscribed_members_export_50ce47c55d.csv")
mc_unsubscribed = pd.read_csv("unsubscribed_members_export_50ce47c55d.csv")

In [3]:
mc_subscribed.head()

,Email Address,First Name,Last Name,Zip Code,EMAIL_TYPE,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,...,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,LAST_CHANGED,LEID,EUID,NOTES
0,recoveryED@aol.com,Rita,NaN,NaN,html,2,9/3/14 16:51,NaN,9/3/14 16:51,70.195.139.188,...,'-123.0160000,'-8,'-7,America/Los_Angeles,US,OR,11/10/17 12:37,428403017,77a1738fdd,NaN
1,aotau@yahoo.com,NaN,NaN,NaN,html,2,7/24/13 8:29,NaN,7/24/13 8:29,NaN,...,'-77.5935000,'-5,'-4,America/Toronto,US,NY,7/24/13 8:29,421384569,bd430c194f,NaN
2,awarren@mharochester.org,NaN,NaN,NaN,html,5,7/24/13 8:29,NaN,7/24/13 8:29,NaN,...,'-76.1771000,'-5,'-4,America/New_York,US,NY,10/6/14 10:39,421384665,349ab6ff43,NaN
3,dempseyrobert@hotmail.com,NaN,NaN,NaN,html,2,7/24/13 8:29,NaN,7/24/13 8:29,NaN,...,'-73.9965000,'-5,'-4,America/New_York,US,NY,7/24/13 8:29,421385897,71fa32dc18,NaN
4,georgeebert@yahoo.com,NaN,NaN,NaN,html,4,7/24/13 8:29,NaN,7/24/13 8:29,NaN,...,'-75.0704000,'-5,'-4,America/New_York,US,NY,7/24/13 8:29,421386525,d9dbb77ed6,NaN

In [186]:
print("We have a first name recorded for", len(mc_subscribed[mc_subscribed['First Name'].notnull()]), \
      "of a total of", len(mc_subscribed), "subscribers.")

We have a first name recorded for 2505 of a total of 5140 subscribers.

In [5]:
len(mc_unsubscribed)

682

In [6]:
len(mc_cleaned)

1530

Importing CSVs previously exported from Eventbrite.

IMPORTANT: the following cell and its dependents need to be re-run after CSVs have been updated with latest data from Eventbrite

In [109]:
eb17cash = pd.read_csv("iNAPS_orders_2017_cash.csv")
eb17 = pd.read_csv("iNAPS_orders_2017.csv")
eb18 = pd.read_csv("iNAPS_orders_2018.csv")
eb18cash = pd.read_csv("iNAPS_orders_2018_cash.csv")

In [170]:
print("There are", len(eb17cash), "2017 members who paid by cash.")
print("There are", len(eb17), "2017 members who paid online.")
print("There are", len(eb18cash), "2018 members who paid by cash.")
print("There are", len(eb18), "2018 members who paid online.")

There are 21 2017 members who paid by cash.
There are 245 2017 members who paid online.
There are 16 2018 members who paid by cash.
There are 69 2018 members who paid online.

This creates new columns for member types. These columns and their assigned values will be used later when dataframes are merged.

In [110]:
for row in eb17cash:
    eb17cash['membership_status_2017'] = 'cash'
for row in eb17:
    eb17['membership_status_2017'] = 'online'
for row in eb18:
    eb18['membership_status_2018'] = 'online'
for row in eb18cash:
    eb18cash['membership_status_2018'] = 'cash'

Merging MailChimp and Eventbrite data sets.

In [130]:
merge1 = pd.merge(mc_subscribed, eb17cash, how="outer", on=['Email Address', 'First Name', 'Last Name'])

In [131]:
print(len(mc_subscribed))
print(len(eb17cash))
len(merge1)

5140
21

5154

In [139]:
merge2 = pd.merge(merge1, eb17, how='outer', on=['Email Address', 'First Name', 'Last Name', 'Cell Phone'])
len(merge2)

5343

In [134]:
merge3 = pd.merge(merge2, eb18, how='outer', on=['Email Address', 'First Name', 'Last Name'])
print(len(eb18))
len(merge3)

69

5367

This is the final merge:

In [142]:
data = pd.merge(merge3, eb18cash, how='outer', on=['Email Address', 'First Name', 'Last Name'])

In [143]:
len(data)

5368

In [144]:
len(data[data['First Name'].notnull()])

2733

In [145]:
data.drop(['LAST_CHANGED', 'LEID', 'EUID', 'NOTES', 'Event Name_x',
       'Date_x', 'Gross Revenue (USD)_x', 'Ticket Revenue (USD)_x',
       'Eventbrite Fees (USD)_x', 'Eventbrite Payment Processing (USD)_x',
       'Tickets_x', 'Type_x', 'Status_x', 'Distribution Partner_x',
       'Transaction ID_x', 'Notes_x', 'First Name_y', 'Last Name_y', 'Event Name_y',
       'Order ID_y', 'Date_y', 'Gross Revenue (USD)_y',
       'Registration Revenue (USD)', 'Eventbrite Fees (USD)_y',
       'Eventbrite Payment Processing (USD)_y', 'Tickets_y', 'Type_y',
       'Status_y', 'Distribution Partner_y', 'Payment Method_x', 'Billing Address 1_x',
       'Billing Address 2_x', 'Billing City_x', 'Billing State_x',
       'Billing Zip_x', 'Billing Country_x',
       'Event Name_x', 'Order ID_x', 'Date_x', 'Gross Revenue (USD)_x',
       'Ticket Revenue (USD)_y', 'Eventbrite Fees (USD)_x',
       'Eventbrite Payment Processing (USD)_x', 'Tickets_x',
       'Status_x', 'Distribution Partner_x', 'Payment Method_y', 'Notes_x', 'Billing Address 1_y',
       'Billing Address 2_y', 'Billing City_y', 'Billing State_y',
       'Billing Zip_y', 'Billing Country_y',
       'Event Name_y', 'Order ID_y', 'Date_y', 'Gross Revenue (USD)_y',
       'Ticket Revenue (USD)', 'Eventbrite Fees (USD)_y',
       'Eventbrite Payment Processing (USD)_y',
       'Status_y', 'Distribution Partner_y', 'Transaction ID_y', 'EMAIL_TYPE', 
          'OPTIN_IP', 'CONFIRM_TIME', 'CONFIRM_IP', 'LATITUDE', 'LONGITUDE', 
          'GMTOFF', 'DSTOFF', 'TIMEZONE', 'CC', 'REGION', 'Notes_y', 'Billing Address 1', 
           'Billing Address 2', 'Billing City', 'Billing State', 'Billing Zip', 
           'Billing Country'], axis=1, inplace=True)

This consolidates multiple membership status columns into one for each year:

In [146]:
data.rename(columns={'membership_status_2018_y':'status_2018'}, inplace=True)
data.rename(columns={'membership_status_2017_y':'status_2017'}, inplace=True)

In [147]:
data.loc[data['membership_status_2018_x'].notnull(), 'status_2018'] = "online"
data.loc[data['membership_status_2017_x'].notnull(), 'status_2017'] = "cash"

In [150]:
data.drop(['membership_status_2017_x', 'membership_status_2018_x'], axis=1, inplace=True)

In [151]:
data.tail()

,Email Address,First Name,Last Name,Zip Code,MEMBER_RATING,OPTIN_TIME,Cell Phone,status_2017,status_2018
5363,lorriemayfield3@gmail.com,Lorrie,Mayfield,NaN,NaN,NaN,NaN,NaN,online
5364,classycassey.cc@gmail.com,Cassey,Coleman,NaN,NaN,NaN,NaN,NaN,online
5365,kayemarie@gmail.com,Kaye,Christian,NaN,NaN,NaN,NaN,NaN,online
5366,mandible2002@hotmail.com,Tony,Smith,NaN,NaN,NaN,NaN,NaN,online
5367,fsdoczak@alliance-hs.org,Fulya,Sobczak,NaN,NaN,NaN,NaN,NaN,cash

In [179]:
subscriber_number = len(data)
print("iNAPS has a total of", subscriber_number, "current subscribers.")

iNAPS has a total of 5368 current subscribers.

In [175]:
print("There were", len(data[data['status_2017'].notnull()]), "paid members in 2017.")

There were 266 paid members in 2017.

In [174]:
print("There are", len(data[data['status_2018'].notnull()]), "paid members so far for 2018.")

There are 85 paid members so far for 2018.

In [180]:
null = data[data['status_2017'].isnull()]
not_recent_member = null[null['status_2018'].isnull()]
print(len(not_recent_member), "out of the total of", subscriber_number, "subscribers were not members in 2017 and haven't paid for membership\
 for 2018.")

5032 out of the total of 5368 subscribers were not members in 2017 and haven't paid for membership for 2018.

This exports the merged and cleaned dataframe to a CSV:

In [183]:
csv_file_path = 'subscriber_and_member_data.csv'

data.to_csv(path_or_buf=csv_file_path, header=True, index=True, index_label="ID")